<!DOCTYPE html>
<html>
  <head>
    <title>The Drawing Game</title>
	<link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Pacifico|Indie+Flower" rel="stylesheet">
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <style> body {padding: 0; margin: 0;} </style>
    <!--Drawing libraries from p5js -->
    <script src="libraries/p5.js"></script>
    <script src="libraries/p5.dom.js"></script>
    <script src="libraries/p5.sound.js"></script>
    <!-- socket io client served from CDN -->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" href="/style.css">
		<script src="sketchplayer.js"></script>

  </head>
  <body>

<div id="headerText"><h1>The Drawing Game</h1></div>
<div id="wrapper">
	<div id="form">
    <div class="containerOne">
      <div id="title">
  		<h2><%= data.username %>, can you guess what the drawing is?</h2>
  		</div>
  		<div id="timer">
  		Counting down, Hurry!
  			<div id="counter">
  			</div>
  			<script type="text/javascript">
  				var timeleft = 90;
  				var downloadTimer = setInterval(function(){
  				timeleft--;
  				document.getElementById("counter").textContent = timeleft;
  				if(timeleft <= 0)
  					clearInterval(downloadTimer);
  					if(timeleft <= 0) {
  				document.getElementById("timer").textContent = "Time's up! refresh to play again";
  				}
  				},1000);
  			</script>
  		</div>
    </div>
    <div class="containerTwo">
      <div id="playerboard">
  			<!--canvas goes here -->
  		</div>

  		<div id="scoreboard">
  			<h3>Scoreboard</h3>
  		<table class="blueTable">
  		<thead>
  		<tr>
  		<th>Player</th>
  		<th>Score</th>
  		</tr>
  		</thead>
  		<tbody>
  		<%for (var players in data.player){%>
  			<tr><td><%= data.player[players] %></td>
  			<td><%= data.playerscore[players] %> </td>
  			<% if (data.score == 1){%>
  				<td style="color:green;">Winner</td>
  			<%}%></tr>
  		<%}%>

  		</tbody>
  		</tr>
  		</table>

  		</div>
    </div>

	</div>

		<div id="guessword">

				<form name="guesser" method="POST" action="/guesser">
				<input id="inputGuess" type="text" name="guessedWord"/>
				<input type="submit" onclick="check(this.form)" value="Guess"/>
				<input type="reset" value="Cancel"/>
				<% if (data.score == 1){%>
				<span class="span" id="spanGuesser">Ooo nice one, <%= data.username %> got it.</span>
				<% }else {%>
				<span class="span" id="spanGuesser">Nearly, try again..</span>
				<%}%>
			</form>


	</div>


</div>

  </body>
</html>
